@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

/* font-family: 'Roboto', sans-serif; */
html {
    border-right: 1px hsla(0, 1%, 35%, 0.979) solid;
}

body {
    color: #fff;
    margin: auto;
    margin-top: 1%;
    width: 94%;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(ellipse at center, #131313, #111111);
}

/* Styles for background lineal gradient */
.try-background {
    display: block;
    position: absolute;
    background-size: 100% 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 60%;
    border-top-right-radius: 100%;
    content: "";
    filter: blur(100px);
    height: 551.5px;
    left: 0px;
    right: 0px;
    line-height: 15.9996px;
    margin-left: 326.844px;
    margin-right: 326.859px;
    opacity: 0.4;
    top: 50px;
    width: 1225.3px;
    background: linear-gradient(126.05deg, rgba(241, 42, 42, 0.9) 25.95%, rgb(191, 28, 235) 44.46%, rgb(6, 173, 87) 65.35%, rgba(6, 173, 87, 0.6) 76.7%);
    color: rgb(255, 255, 255);
    z-index: -1;
    -webkit-font-smoothing: antialiased;
}

/* Styles for header, with logo, icos and links to more info */
.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.link-to-activate {
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
}

.cont-left {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    gap: 10px;
    padding: 20px 30px 15px 30px;
    border: 1px solid gray;
    border-radius: 10px;
}

.cont-left i {
    padding: 5px;
    font-size: 75%;
}

.log-tigo {
    margin: 5% 0 0 42%;
    width: 12%;
}

.log-tigo-two {
    padding: 50% 0% 50% 0%;
    width: 60%;
}

.logo {
    width: 120px;
}

.logo-deezer {
    margin: 0 5% 0 0;
}

.login-bottom {
    align-items: center;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    margin: 0 15px 50px 0px;
}

.login {
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
    font-size: 12px;
}

/* List with every targets and important info */
ul.cont-main {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    margin: 0% 32% 0% 32%;
}

/* Title first main 'li' */
.title-main,
.title-main h1 {
    list-style: none;
    text-align: center;
    color: white;
    margin-bottom: 1%;
}

/* Styles add incompatibility */
.incompatibility-notice {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color: #252424;
    font-size: smaller;
}

.incompatibility-notice img {
    padding: 20px;
    width: 4%;
    height: 40%;
}

/* Style for first target with information promotional premium*/
li.cont-target-premium {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(69.06deg, #b84fdd -26.76%, #4965f4 44.6%, #2efb74 132.54%);
    margin-bottom: 1.5%;
}

.title {
    font-size: 2.4rem;
    padding: 0px;
    color: white;
    text-decoration: none;
}

li.cont-target-premium span {
    text-align: center;
    font-size: medium;
    margin: 0 15% 2% 15%;
}

/* Styles for every targets buttons */
button {
    padding: 20px 100px;
    border: none;
    border-radius: 30px;
    font-size: smaller;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #161515f8;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* information price and related. Every targets mains */
.inf-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inf-price h2 {
    padding: 0px;
    margin-bottom: auto;
}

.inf-price p {
    padding: 0px;
    margin-top: 0px;
}

.more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.more-info p {
    padding: 0px;
    margin-bottom: 0px;
}

.more-info a {
    color: rgba(250, 250, 250, 0.836);
    padding: 10px;
    margin-top: 0px;
}

/* Class discounts for show and hidden */
.custom-show {
    display: flex !important;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(69.06deg, #b84fdd -26.76%, #4965f4 44.6%, #2efb74 132.54%);
    background-color: #403e42;
    margin-top: 2%;
    margin-bottom: 5%;
}

.custom-hidden {
    display: none !important;
}

/* Styles box discounts information price and related. Every discounts targets */
li.discounts {
    list-style: none;
}

.buttom-discount-annual,
.buttom-discount-student,
.buttom-discount-annual-family {
    display: flex;
    flex-flow: row;
    align-items: center;
    border: 1px white solid;
    border-radius: 250px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

li.cont-target-discount-anual span,
li.cont-target-discount-student p.fix-text,
li.cont-target-discount-family p.fix-text {
    text-align: center;
    padding: 0px;
    font-size: medium;
    margin: 0 15% 0% 15%;
}

.prices {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.price-before {
    text-decoration: line-through;
}

.buttom-discount-student {
    margin-bottom: 10%;
}

.buttom-discount-annual-family {
    margin-bottom: 10%;
}

.discount-annual,
.discount-student {
    text-align: center;
    margin-left: auto;
    color: white;
    text-decoration: none;
    font-size: -small;
}

.discount-annual>i,
.discount-student>i {
    align-items: center;
    padding: 10px;
    font-size: 100%;
    font-weight: bolder;
}

.mini-box,
.mini-box-family {
    margin-left: auto;
    border-radius: 250px;
    padding: 5px 15px;
    background: linear-gradient(69.06deg, #b84fdd -26.76%, #4965f4 44.6%, #2efb74 132.54%);
    font-size: -small;
    font-weight: bolder;
}

.mini-box-family {
    background: linear-gradient(53.13deg, #dc4c11 10.71%, #feab2e);
}

/* Styles for all elements family target */
li.cont-target-family {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(53.13deg, #dc4c11 10.71%, #feab2e);
    background-color: #403e42;
    margin-bottom: 1.5%;
}

li.cont-target-family span {
    text-align: center;
    padding: 0px;
    font-size: medium;
    margin: 0 15% 0 15%;
}

li.cont-target-discount-family {
    background: linear-gradient(53.13deg, #dc4c11 10.71%, #feab2e);
    margin-top: 5%;
    margin-bottom: 10%;
}

/* Style for partners offer */
.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(180deg, #202122, #3a3b47 55.56%);
    background-color: #403e42;
    margin-bottom: 10%;
}

/* Style for gift card and their elements */
.gift-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(166deg, #202122 39%, #3c3c49 82%);
    background-color: #403e42;
    margin-bottom: 15%;
}

.gift-card a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: small;
    font-weight: 100;
}

/* Text end important */
.text-end {
    list-style: none;
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: small;
    font-weight: 100;
    line-height: 1.8;
}

/* Style Footer */
footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-top: 1px hsla(0, 1%, 35%, 0.979) solid;
}

.stores-icons {
    padding: 3.5% 0% 2% 0%;
}

.stores-icons img {
    border-radius: 10%;
}

.cont-foot {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    gap: 100px;
}

.cont-foot ul li {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    color: #a09fa0;
}

/* Resposive */

@media screen and (max-width: 1380px) {

    .try-background {
        /* Ajustar los estilos para pantallas más pequeñas */
        height: 400px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        top: 30px;
    }

    ul.cont-main {
        margin: 0% 20% 0% 20%;
    }

}

@media screen and (max-width: 770px) {

    .cont-left,
    .login-bottom {
        display: none;
    }

    .logo-deezer {
        margin: auto;
    }

    .log-tigo {
        margin: 5% auto;
        width: 30%;
    }

    ul.cont-main {
        margin: 0% 10% 0% 10%;
    }

    li.cont-target-premium,
    li.cont-target-family,
    .offer,
    .gift-card {
        margin-bottom: 10%;
    }

    .cont-main h1 {
        margin-bottom: 5%;
    }
}


@media screen and (max-width: 550px) {
    .log-tigo {
        margin: 5% auto;
        width: 40%;
    }

    li.cont-target-premium,
    li.cont-target-family,
    .offer,
    .gift-card {
        padding: 10px;
        margin-bottom: 5%;
    }

    .title-main h1 {
        font-size: 20px;
    }

    .title {
        font-size: 1.5rem;
    }

    button {
        padding: 5px 30px;
        font-size: 10px;
    }

    li.cont-target-premium span,
    li.cont-target-family span,
    .inf-price p,
    .more-info p,
    .text-end {
        padding: 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    ul.cont-main {
        margin: 0% 5% 0% 5%;
    }
}